.video-container {
    position: relative;
    padding-bottom: 40px;
  }
  
  video {
    width: 100%;
    height: auto;
  }

  .home{
    background-color: #faf7e6;
  }
  .Services h1{
    text-align:  center;
    color: #a8864b;
    padding-bottom: 60px;
  }
  
  .video-text {
    width: 31%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-80%, -50%);
    text-align: start;
    color: white; 
    
    padding: 20px;
  
  }
  
  h1 {
    font-size: 4.2vmax;
    letter-spacing: 1px;
  }
  
  p {
    font-size: 2vmax;
    letter-spacing: 0.6px;
  }
  